io7m-jstructural-schema/src/main/resources/com/io7m/jstructural/schema/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:s="http://schemas.io7m.com/structural/2.0.0">
  <xs:import namespace="http://schemas.io7m.com/structural/2.0.0" schemaLocation="schema.xsd"/>
  <xs:attribute name="id" type="xs:ID"/>
  <xs:attribute name="base"/>
  <xs:attribute name="lang"/>
</xs:schema>
